/* @override http://localhost:3000/css/global.css */

@font-face {
    font-family: 'Chunk';
    src: url('../fonts/chunk-webfont.eot');
    src: url('../fonts/chunk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunk-webfont.woff') format('woff'),
         url('../fonts/chunk-webfont.ttf') format('truetype'),
         url('../fonts/chunk-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font: 62.5%/1 Helvetica, sans-serif;
	margin: 0 auto;
	background: #cbe1f1 url(../images/background.jpg) no-repeat center -40px;
}

h1, h2, h3, h4, h5, h6, p, ul {
	font-size: 1em;
	margin: 0;
}

header {
	position: relative;
	width: 820px;
	font-size: 48px;
	padding: 70px 0 250px;
	margin: 0 auto;
}

header h1 {
	position: relative;
	left: -30px;
	background: url(../images/touchy-logo.png);
	width: 572px;
	height: 131px;
	margin: 0 auto;
	text-indent: -9000em;
}

.content {
	position: relative;
	background: #fff;
	padding-top: 165px;
	border-top: 1px solid #a1c9e5;
	background-image: -webkit-linear-gradient(
		top, #f7fafd 23%, #fff 50%
	);
}

section {
	display: block;
	font-size: 16px;
	overflow: hidden;
	width: 820px;
	margin: 0 auto;
	color: #3e4041;
	margin-bottom: 40px;
}

.column {
	width: 380px;
	float: left;
	line-height: 20px;
}

.column.first {
	margin-right: 60px;
}

.column h2 {
	font-family: Chunk;
	font-size: 28px;
	margin-bottom: 16px;
	color: #4676a1;
	font-weight: normal;

	line-height: 32px;
}

.column p {
	margin-bottom: 16px;
}

footer {
	display: block;
	font-size: 18px;
	padding: 20px 0 25px;
	background-color: #4676a1;
	text-align: center;
	font-family: Chunk;
	color: #fff;
}

footer a {
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}

footer a:hover {
	border-bottom: 2px solid;
}

.map-wrapper {
	position: absolute;
	top: -215px;
	padding: 15px;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
	overflow: visible;
}

.map-wrapper {
	position: absolute;
	top: -215px;
	left: 0;
	right: 0;
}

.login,
.map form,
.map .filters {
	position: absolute;
	top: -25px;
	right: 30px;
	background: #fff;
	z-index: 1000;
	padding: 3px 5px 3px 25px;
	background-color: #f9f7f7;
	border: 1px solid #dddddd;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14);
	-webkit-border-radius: 30px 0 0 30px;
}

.map form label {
	font-size: 24px;
	font-family: Chunk;
	color: #4676a1;
}

.map form input,
.map form ::-webkit-input-placeholder,
.leaflet-popup-content textarea {
	font-family: Chunk;
	display: inline-block;
	padding: 4px 8px 4px;
	background: #fff;
	font-size: 24px;
	color: #4e5964;
	border: 1px solid #dddddd;
	width: 240px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
}

.map form.loading input {
	background: #fff url(../images/spinner.gif) no-repeat 225px center;
}

.map form ::-webkit-input-placeholder {
	color: #ccc;
}

.map form button {
	display: none;
}

.map .filters {
	font-family: Chunk;
	display: inline-block;
	padding: 0 25px 0 15px;
	font-size: 24px;
	width: auto;
	top: auto;
	bottom: -20px;
	right: -30px;
	-webkit-border-radius: 0 30px 30px 0;
	line-height: 50px;
	height: 55px;
	color: #4e5964;
}

.map .filters a {
	display: inline-block;
	text-decoration: none;
	padding: 0 40px 0 5px;
	background: url(../images/legend-sprite.png) no-repeat;
}

.map .filters .peelings {
	color: #bdd402;
	background-position: right -60px;
}

.map .filters .heaps {
	color: #de6901;
	background-position: right 14px;
}

.map .leaflet-control-fullscreen {
	position: absolute;
	top: 90px;
	left: 27px;
}

.map .leaflet-control-fullscreen a {
	text-indent: -900em;
	background-image: url(../images/map-icon-fullscreen.png);
}

.info label,
.info .label {
	font-size: 14px;
	color: #4e5964;
	font-weight: bold;
}

.info-create-marker a {
	text-align: center;
	display: inline-block;
	padding-top: 46px;
	width: 92px;
	color: #888;
	text-decoration: none;
	background: url(../images/marker-heap-shadow.png) no-repeat top center;
}

.info-create-marker .predicate {
	display: inline-block;
	font-size: 14px;
	color: #4e5964;
	text-transform: uppercase;
	line-height: 1;
	position: relative;
	top: -30px;
}

.info-create-marker .peelings {
	background: url(../images/marker-peelings-shadow.png) no-repeat top center;
}

.field {
	position: relative;
}

.field-range {
	position: absolute;
	top: 22px;
	left: 0;
}

.field-range input {
	position: relative;
	top: 4px;
	width: 110px;
	cursor: pointer;
}



#map {
	width: 100%;
	height: 300px;
	border: 1px solid #cccccc;
}

.map-fullscreen {
	overflow: hidden;
}

.map-fullscreen .map {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.map-fullscreen .leaflet-control-fullscreen {
	top: 75px;
	left: 11px;
}

.map-fullscreen .leaflet-control-fullscreen {
	top: 75px;
	left: 11px;
}

.map-fullscreen #map {
	width: 100%;
	height: 100%;
}

.map-fullscreen form {
	display: none;
}

.map-fullscreen .filters {
	display: none;
}

.login {
	font-family: Chunk;
	font-size: 18px;
	top: 0;
	right: 15px;
	color: #4e5964;
	padding: 8px 20px 15px 25px;
	-webkit-border-radius: 0 0 0 30px;
}

.login a {
	text-decoration: none;
	color: #4676a1;
}

.leaflet-popup-content {
	font-size: 13px;
	overflow: hidden;
	color: #4e5964;
}

.leaflet-popup-content p {
	margin: 0 0 4px;
}

.leaflet-popup-content textarea {
	margin: 0 0 4px;
}

.leaflet-popup-content textarea {
	display: block;
	font: 14px/1.4 Helvetica;
	-webkit-box-sizing: border-box;
}

.leaflet-popup-content textarea:focus {
	outline: none;
	border-color: #bbb;
}

.leaflet-popup-content button {
	float: right;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	color: #fff;
	padding: 4px 10px;
	border: 1px solid rgb(56, 101, 249);
	background-color: rgb(56, 101, 249);
	text-shadow: 0 -1px 0 rgb(56, 101, 249);
	background-image: -webkit-linear-gradient(
	    -90deg,
	    rgb(118, 145, 251),
	    rgb(80, 117, 251) 50%,
	    rgb(56, 101, 249) 50%,
	    rgb(54, 101, 250)
	);
	-webkit-box-shadow: 
		inset 1px   0   1px rgba(255, 255, 255, 0.1),
		inset -1px  0   1px rgba(255, 255, 255, 0.1),
		inset 0     1px 1px rgba(255, 255, 255, 0.1);
	-webkit-border-radius: 5px;
}

